<header class="header">
    <nav class="navbar">
        <a href="/" class="logo">
            <span class="logo-span">Blog</span>Strap
        </a>
        <ul class="nav-list-group">
            <li class="nav-list-item">
                <a href="/">Services</a>
            </li>
            <li class="nav-list-item">
                <a href="/portfolio">Portfolio</a>
            </li>
            <li class="nav-list-item">
                <a href="/contacts">Contacts</a>
            </li>
        </ul>
    </nav>

    <address class="address">
        <a href="mailto:blogs76@gmail.com">blogs76@gmail.com</a>
        <a href="tel:+639271305088">+63-927-130-5088</a>
    </address>
</header>