<section id="about">
    <div class="about-content">
        <div class="about-image">
            <img src="/img/my-img.jpg" alt="About Image">
        </div>  
        <div class="about-text">
            <h2 class="about-title">About</h2>
            <p class="about-description">
                BlogStrap is a simple blog built with Bootstrap, Node.js, Express, and MongoDB. It is a great starting point for anyone looking to build a blog using these technologies.
            </p>
            <p class="about-description">
                The project is open source and available on GitHub. Feel free to fork the repo and use it as a starting point for your own projects.
            </p>
            <a href="#" class="btn">Learn More</a>
        </div>
    </div>
</section>